<h1>About</h1>

<p>
This application was developed for training purposes back in 2013. At that time I was preparing a XP course focused on technichal practices like TDD and CI/CD. Some time later I started using it also in courses at the university.
</p>
<p>
As training application it has some simplifications that make the application not suitable for "the real world". At the same time, there are some concerns that have been coded following usual "real world" practices even when they may be considered conceptually wrong. Finally there are some things that have been done rigth.
</p>
<p>
Since the first commit a long time has passed. Along the years several folks have made contibutions, thanks to all of them.
</p>
<p>
The application has evolved in different directions and with differents goals. 
