<h1>Welcome!</h1>

<p>If you are looking for a job, just go to the <a href="<%= url(:job_offers, :latest) %>">offers list</a>.</p>
<p>If you want to publish a job offer, just <a href="<%= url(:users, :new) %>">register</a> and start publishing.</p>
